.people-say {
    background: #FFF url(../img/people-say/bg.png) no-repeat top center / cover;
    &__content {
        padding: 4px 0 42px 0;
        display: flex;
        flex-wrap: wrap;
        row-gap: 50px;
        column-gap: 42px;
        justify-content: space-between;
        &__item {
            display: flex;
            width: 48%;
            & .section-heading {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0;
                padding-left: 50px;
                h3 {
                    text-transform: uppercase;
                    margin: 0;
                }
                span {
                    &:last-of-type {
                        font-weight: 400;
                        font-size: 18px;
                        margin: 20px 0 30px 0;
                        text-transform: uppercase;
                    }
                }
                &__separator {
                    width: 70px;
                    height: 4px;
                }
                &__text {
                    margin-top: 58px;
                    text-align: left;
                }
            }
        }
    }
}